
/* Media Sizing */
@media (max-width: 650px) {
    .no_display-650-s{
        display: none;
    }
}

@media (max-width: 700px) {
    .no_display-700-s{
        display: none;
    }
    .no_border{
        border-color: rgb(20, 21, 21);
    }
}

/* Animations */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Unique Ids */
#app_container{
    height: 95%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
    width: 99%
}

#app_container #main_container{
    overflow-y: auto;
    height: calc(100vh - 50px);
}

#app_container #lexicon_home{
    font-size: 25px;
    margin: 20px 50px 0 50px;
    color: #d5d5d5;
    padding-top: 20px;
}

#app_container #lexicon_home #word_list_section{
    margin-top: 85px;
}

#app_container #lexicon_home #word_of_day{
    margin: 0 75px;
}

#app_container #lexicon_home #word_of_day #day_word{
    font-weight: bold;
}

#app_container #lexicon_home #word_of_day #day_word_date{
    margin: 0 5px;
    color: #606060;
}

#app_container #lexicon_home #word_of_day #day_word_part_of_speech{
    margin: 0 5px;
    color: #606060;
}

#app_container #lexicon_home #word_of_day #day_word_break{
    margin: 0 5px;
    color: #606060;
}

#app_container #lexicon_home #word_of_day #day_word_pronounce{
    margin: 0 5px;
    font-style: italic;
    color: #9d9d9d;
}

#app_container #lexicon_home #word_of_day #day_word_definitions{
    margin: 0 5px;
}

#app_container #lexicon_home #word_of_day #day_word_definition_list{
    margin: 0 5px;
}

#app_container #lexicon_home #word_of_day #day_word_example{
    margin-top: 15px;
}

#app_container #lexicon_home #word_list_container{
    margin: 0 50px;
    display: flex;
    flex-wrap: wrap;
}

/* Classes */
#app_container .word_list_item{
    cursor: pointer;
    padding: 5px 15px;
    width: 170px;
    transition: 0.4s;
}

#app_container .word_list_item:hover{
    background-color: #c7ff0094;
    color: black;
}

#app_container .word_def{
    font-size: 25px;
    padding: 65px 0 0 35px;
    margin: auto;
    color: #d5d5d5;
    overflow: auto;
}

#app_container li{
    margin: 10px 0;
    line-height: 35px;
}

#app_container li::first-letter{
    text-transform: uppercase;
}

#app_container .word_style{
    font-size: 50px;
    letter-spacing: 3px;
    margin-top: -3px;
}

#app_container .date_first_used_style{
    margin-left: 35px;
    margin-top: 22px;
    color: #606060;
    letter-spacing: 2px;
}

#app_container .part_of_speech_style{
    margin-left: 19px;
    margin-top: 22px;
    color: #606060;
    letter-spacing: 2px;
}

#app_container .word_break_style{
    margin-left: 19px;
    margin-top: 22px;
    color: #606060;
    letter-spacing: 2px;
}

#app_container .pronunciation_style{
    margin-left: 19px;
    margin-top: 22px;
    font-style: italic;
    color: #9d9d9d;
    letter-spacing: 3px;
}

#app_container .word_audio_style{
    margin-left: 70px;
    margin-top: 9px;
    font-style: italic;
    letter-spacing: 3px;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
}

#app_container .search{
    font-size: 6px;
    width: 95%;
    margin: 60px 30px 15px 30px;
    display: flex;
    justify-content: center;
}

#app_container .search_input{
    border: #373737 5px solid;
    background-color: #2F3436;
    font-size: 18px;
    color: #939393;
    padding: 10px;
    margin: 10px;
    min-width: 500px;
    text-decoration: none;
    letter-spacing: 3px;
    word-spacing: 10px;
    transition: 0.4s;
}

#app_container .search_input:focus{
    border: #626f3694 5px solid;
    background-color: #b9e13294;
    color: #000;
    outline:none;
}

#app_container .search_button{
    border: #373737 5px solid;
    background-color: #2F3436;
    font-size: 18px;
    color: #939393;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    letter-spacing: 3px;
    word-spacing: 10px;
    transition: 0.4s;
}

#app_container .search_button:hover {
    background-color: #c7ff0094;
    border-color: #a3ff0000;
    color: black;
    cursor: pointer;
}

#app_container .word_def_sub_section{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

#app_container .word_def_stems{
    margin: 5px 90px;
    letter-spacing: 3px;
    line-height: 40px;
}

#app_container .word_def_etymology{
    margin: 40px 50px;
    letter-spacing: 3px;
    font-style: italic;
    color: #606060;
}

#app_container .word_definitions{
    margin: 40px 50px;
}

#app_container .word_examples{
    margin: 40px 50px 10px 50px;
    letter-spacing: 3px;
    font-style: italic;
}

#app_container .loader_holder {
    padding-top: 15vh;
}

#app_container .loader {
    border: 16px solid #2F3436;
    border-radius: 50%;
    border-top: 16px solid #fff;
    width: 120px;
    height: 120px;
    margin: auto;
    animation: spin 2s linear infinite;
}