
@media (max-width: 600px) {
    .no_display-600-s{
        display: none;
    }
}

@media (max-width: 700px) {
    .no_display-700-s{
        display: none;
    }
    .no_border{
        border-color: rgb(20, 21, 21);
    }
}

#app_container{
    height: 95%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}

#app_container .message_input{
    border: #373737 5px solid;
    background-color: #2F3436;
    font-size: 18px;
    color: #939393;
    padding: 10px;
    text-decoration: none;
    letter-spacing: 1px;
    word-spacing: 5px;
    transition: 0.4s;
    width: calc(100% - 124px);
}

#app_container .message_input:focus{
    border: #626f3694 5px solid;
    background-color: #b9e13294;
    color: #000;
    outline:none;
}

#app_container .send_button{
    border: #373737 5px solid;
    background-color: #2F3436;
    font-size: 18px;
    color: #939393;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    letter-spacing: 3px;
    word-spacing: 10px;
    transition: 0.4s;
}

#app_container .send_button:hover {
    background-color: #c7ff0094;
    border-color: #a3ff0000;
    color: black;
    cursor: pointer;
}

#app_container #wh00t_container{
    background-color: #1d1f21;
    color: #f0c674;
    display: inline;
    margin: 18px 20px 0 25px;
    font-family: verdana,serif;
    font-size: 20px;
    line-height: 1.5;
    border: #373737 5px solid;
    padding: 15px;
    overflow-y: auto;
    height: 100%;
}

#app_container #wh00t_chat_input{
    width: 99%;
    height: 60px;
}

#wh00t_img {
    background-image: url('../img/icon.png');
    background-size: 100%;
    height: 101px;
    width: 217px;
    position: absolute;
    z-index: 0;
    top: 127px;
    right: 50px;
}

#app_container .wh00t_pop_out_button{
    height: 50px;
    width: 50px;
    position: absolute;
    z-index: 0;
    top: 147px;
    right: 37px;
    border-radius: 100%;
}

.wh00t_username_color{
    color: #b5bd68
}

.wh00t_other_usernames_color{
    color: #de935f
}

.arrow {
    border: solid #939393;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
}

.arrow:hover{
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
}

.right {
    transform: rotate(-88deg);
}

.screename_spacer{
    margin: 15px 0 15px 20px;
}

.message_text{
    white-space: pre;
}