
/* Base Elements */
td, th {
    border-bottom: 4px solid #404448;
    text-align: center;
}

/* Classes */
.message_element{
    margin-bottom: 5px;
}
.app_title{
    color: white;
}
.app_message{
    color: #939393;
}

/* Unique Ids */
#message_container{
    font-family: verdana,serif;
    font-size: 14px;
    height: 90%;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
}
#message_history{
    border: #373737 10px solid;
    color: #939393;
    padding: 10px;
    margin: 10px;
    min-width:100px;
    flex-grow: 0;
    overflow: auto;
    max-height: 651px;
}
#latest_message{
    border: #278e02 10px solid;
    color: white;
    padding: 20px;
    margin: 20px;
    min-width:375px;
    flex-grow: 0;
}
#message_stats{
    border: #8e3702 10px solid;
    color: white;
    padding: 5px;
    margin: 0 20px;
    min-width: 350px;
    flex-grow: 0;
    overflow: auto;
    max-height: 479px;
}