
/* Media Sizing */
@media (max-width: 650px) {
    .no_display-650-s{
        display: none;
    }
}

@media (max-width: 700px) {
    .no_display-700-s{
        display: none;
    }
    .no_border{
        border-color: rgb(20, 21, 21);
    }

    .width_100{
        width: 100%
    }
}

@media (min-width: 700px) {
    .width_25{
        width: 25%
    }
}

/* Unique Ids */
#home_container{
    display: flex;
    justify-content: space-evenly;
    padding-top: calc(5vh);
}

#link_container{
    font-family: verdana,serif;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}

#robot_img{
    opacity: 0.7;
}