/* Unique Ids */
#app_container{
    font-family: verdana,serif;
    font-size: 30px;
    height: 90%;
    width: 98%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#link_container{
    font-family: verdana,serif;
    font-size: 30px;
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: auto;
}