/* Shared Css */

/* Base Elements */
html {
    background-color: rgb(20, 21, 21);
}

body {
    font-family: arial, sans-serif;
    font-size: 12px;
    text-align: left;
    color: white;
    height: 100%;
    width: 99%;
}

h1 {
    font-size: 40px;
    margin: 20px 20px 10px 38px;
}

h2 {
    font-size: 25px;
    margin: 40px 40px 20px 40px;
}

h3 {
    font-size: 18px;
    margin: 20px 20px 10px 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    flex-grow: 0;
}

td, th {
    padding: 8px;
    color: #fffdfa;
    width: 20px
}

tr:nth-child(even) {
    background-color: #2F3436;
}

.button {
    border: #373737 5px solid;
    color: #939393;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 10px;
    transition: 0.4s;
}

.active, .button:hover, .button:active {
    background-color: #c7ff0094;
    border-color: #a3ff0000;
    color: black;
    cursor: pointer;
}

/* Classes */
.no_display{
    display: none;
}

.title{
    justify-content: left;
    width: calc(100% - 398px);
}

.nav_links{
    width: 388px;
    padding-top: 45px;
    padding-right: 10px;
    display: flex;
    justify-content: right;
}

.nav_container{
    padding-top: 10px;
    height: 22px;
}

/* Unique Ids */
#update_time{
    color: #939393;
    font-size: 14px;
    margin: 10px 30px 20px 42px;
}

#header{
    font-size: 14px;
    margin: 0 15px;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #373737;
}

#header a:link, a:visited {
    margin: 0;
}

#app_container{
    height: 90%;
    display: flex;
    flex-direction: column;
    margin: 30px;
}