/* Shared Css */

/* Base Elements */
html {
    background-color: rgb(20, 21, 21);
}
body {
    font-family: arial, sans-serif;
    font-size: 12px;
    text-align: left;
    color: white;
    height: 100%;
    width: 99%;
}
h1 {
    font-size: 45px;
    margin: 40px 40px 20px 40px;
}
h2 {
    font-size: 25px;
    margin: 40px 40px 20px 40px;
}
h3 {
    font-size: 18px;
    margin: 40px 40px 20px 40px;
}
a:link, a:visited {
    border: #373737 5px solid;
    color: #939393;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 10px;
    transition: 0.4s;
}
a:hover, a:active {
    background-color: #c7ff0094;
    border-color: #a3ff0000;
    color: black;
    cursor: pointer;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    flex-grow: 0;
}
td, th {
    padding: 8px;
    color: #fffdfa;
    width: 20px
}
tr:nth-child(even) {
    background-color: #2F3436;
}

/* Classes */
.no_display{
    display: none;
}

/* Unique Ids */
#update_time{
    color: #939393;
    font-size: 14px;
    margin: 20px 40px 40px 45px;
}

#header{
    font-size: 14px;
    height: 85%;
    width: 95%;
    margin: 0 30px;
    display: flex;
    flex-direction: row
}

.title{
    justify-content: left;
    width: 50%;
}

.nav_links{
    width: 50%;
    padding-top: 55px;
    padding-right: 55px;
    display: flex;
    justify-content: right;
}

.nav_container{
    border-bottom: dotted 5px #373737;
    border-top: dotted 5px #373737;
    padding: 31px;
    height: 22px;
}